@font-face {
  font-family: 'OpenSans-Bold';
  src:  url('../fonts/OpenSans-Bold.ttf') format('ttf'),
  url('../fonts/OpenSans-Bold.ttf') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src:  url('../fonts/OpenSans-Regular.ttf') format('ttf'),
  url('../fonts/OpenSans-Regular.ttf') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Light';
  src:  url('../fonts/OpenSans-Light.ttf') format('ttf'),
  url('../fonts/OpenSans-Light.ttf') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src:  url('../fonts/OpenSans-Semibold.ttf') format('ttf'),
  url('../fonts/OpenSans-Semibold.ttf') format('woff');
  font-weight: 400;
  font-style: normal;
}
