@import '_partials/bootstrap.css';
@import "../../node_modules/reset-css/reset.css";
@import "../../node_modules/swiper/dist/css/swiper.css";
@import "_partials/fonts.scss";

* {
  box-sizing: border-box;
}

$main-font: "Open Sans", sans-serif, arial;
$main-color: #fff;
$gray-color: #F5F5F5;

button, input, select {
  outline: none;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  color: #575756;
  font-family: OpenSans-Regular;
}

.swiper-wrapper {
  width: 100%;
  height: 300px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 0 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 25px;
  cursor: pointer;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.main_page {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: 0 0;
  padding-top: 50px;
}

.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  flex-wrap: wrap;
  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    img {
      margin-right: 8px;
    }
  }
}

.logo h3 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 34px;
  letter-spacing: 4.01px;
  font-family: Century Gothic;
}

nav {
  a {
    margin-right: 15px;
    color: #ffffff;
    opacity: 0.9;
    &:hover {
      color: #fc5454;
      text-decoration: none;
    }
  }
}

.btn {
  padding: 9px 22px;
  width: 150px;
  font-size: 14px;
  background-color: #fc5454;
  border: none;
  outline: none;
  color: #ffffff;
  margin-left: 15px;
  font-family: OpenSans-Semibold;
}

.main_info {
  margin: 185px 0 320px;
  text-align: right;
  p {
    color: #ffffff;
    font-size: 47px;
    padding-bottom: 60px;
    font-family: OpenSans-Light
  }
  .btn {
    border-radius: 5px;
    width: auto;
    font-size: 18px;
    padding: 18px 70px;
    margin: 0 auto;
  }
}

.business_plan {
  background-color: $gray-color;
  padding-bottom: 90px;
  .card {
    margin: -155px auto 90px;
    border-radius: 10px;
    padding: 40px 0;
    background-color: #fff;
    text-align: center;
  }
}

.card h3 {
  text-align: center;
  color: #2e3192;
  font-size: 30px;
  padding-bottom: 40px;
}

.card p {
  text-align: center;
  padding: 0 95px 25px;
  font-size: 16px;
}

.card img {
  padding-bottom: 8px;
}

.advantages p {
  font-size: 35px;
  line-height: 38.52px;
  padding-bottom: 30px;
}

.advantages .old {
  color: #575756;
  text-align: right;
  padding-bottom: 100px;
}

.advantages .arrows {
  background-image: url(../img/icons_advantages.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 370px;
}

.advantages .vs {
  color: #999999;
  text-align: center;
}

.advantages .new {
  color: #3A3B80;
  text-align: left;
  padding-bottom: 145px;
  font-family: OpenSans-Bold;
}

.advantages h3 {
  text-align: center;
  font-size: 24px;
  line-height: 21.53px;
  color: #B1B1B1;
  text-transform: uppercase;
}

.advantages .site_wrap {
  display: flex;
  align-items: baseline;
  padding-bottom: 30px;
}

.advantages span {
  font-size: 19px;
  line-height: 21.97px;
  color: #808080;
}

.site_wrap img {
  margin-right: 17px;
}

.site_wrap h2 {
  text-transform: uppercase;
  color: #868686;
  font-size: 33px;
  font-family: Century Gothic;
}

.advantages .btn {
  width: 260px;
  margin-left: 0;
  margin-top: 30px;
  border-radius: 7px;
  font-size: 18px;
  padding: 15px 0 15px 53px;
  cursor: pointer;
}

.advantages .computer {
  background-image: url(../img/computer.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 305px;
  margin-bottom: 160px;
}

.social {
  position: absolute;
  top: 15px;
  left: -42px;

}

.ppc {
  position: absolute;
  right: 115px;
  top: -33px;
}

.conversion {
  position: absolute;
  top: 222px;
}

.website {
  position: absolute;
  top: 90px;
  right: 113px;
}

.seo {
  position: absolute;
  top: 319px;
  left: -35px;
}

.crm {
  position: absolute;
  top: 141px;
  left: -46px;
}

.team {
  padding: 65px 0 75px;
  h2 {
    font-size: 30px;
    color: #2E3192;
    text-align: center;
    padding: 50px 0 45px;
  }
  p {
    text-align: center;
    font-size: 16px;
    color: #4D4D4D;
    padding-bottom: 60px;
    font-weight: bold;
  }
}

.arrow_dotted {
  background-image: url(../img/dotted_arrow.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 725px;
  height: 375px;
}

.services {
  margin-top: -250px;
  padding: 0 30px;
  h2 {
    font-size: 30px;
    color: #2E3192;
    text-align: right;
    padding-bottom: 45px;
  }
  p {
    font-size: 16px;
    color: #4D4D4D;
    text-align: right;
    font-weight: 500;
    font-family: OpenSans-Regular;
    font-weight: bold;
  }
}

.main_photocard {
  width: 100%;
  background-color: $gray-color;
  padding: 55px 0 45px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  height: 348px;
  p {
    padding: 15px 36px 0;
  }
  img {
    width: 151px;
    height: 151px;
  }
}

.small_photocard {
  width: 100%;
  background-color: $gray-color;
  border-radius: 10px;
  text-align: center;
  padding: 25px 0 22px;
  margin-bottom: 20px;
  cursor: pointer;
  img {
    margin-bottom: 15px;
  }
  p {
    padding-bottom: 0;
  }
  .info {
    display: none;
  }
}

.string_photocard {
  display: flex;
  align-items: center;
  background-color: $gray-color;
  border-radius: 10px;
  padding: 37px;
  cursor: pointer;
  img {
    padding-right: 37px;
  }
  .niki_info {
    display: block;
  }
  p {
    padding-bottom: 5px;
    text-align: left;
    color: #4D4D4D;
  }
  span {
    font-size: 12px;
  }
}

.proposal {
  background-image: url(../img/background_arrow.jpg);
  background-size: cover;
  background-color: center center;
  padding: 85px 0;
  text-align: center;
  .btn {
    width: 470px;
    padding: 26px 90px;
    border-radius: 10px;
    font-size: 30px;
    text-align: left;
    margin: 0 auto;
    cursor: pointer;
  }
  h3 {
    color: $main-color;
    font-size: 22px;
    padding: 40px 0;
  }
}

.proposal_wrap {
  margin: 0 15px;
}

.proposal_block {
  padding: 30px 70px;
  background-color: $main-color;
  border-radius: 20px;
  img {
    padding-bottom: 35px;
  }
  h2 {
    font-size: 22px;
    color: #333333;
    padding-bottom: 20px;
    font-family: OpenSans-Semibold;
  }
  p {
    font-size: 12px;
    color: #4D4D4D;
  }
}

#map {
  width: 100%;
  height: 500px;
}

footer {
  padding-bottom: 45px;
  .contacts {
    padding: 43px 75px 47px;
    border-radius: 10px;
    border: 1px solid #c0c0c0;
    display: flex;
    justify-content: space-around;
    margin: -80px 0 55px;
    background-color: $main-color;
    .contact_card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        padding-bottom: 20px;
      }
      p {
        font-size: 14px;
        line-height: 22px;
        color: #000000;
        text-align: center;
        font-weight: bold;
      }
    }
    .phone, .message {
      p {
        color: #333333;
      }
    }
  }
  .footer_nav {
    p {
      font-size: 12px;
      line-height: 22px;
      padding-bottom: 20px;
      color: #4f7fd0;
    }
    a {
      color: #808080;
      display: block;
      margin-left: 0;
      margin-top: 10px;
      font-size: 12px;
      &:hover {
        color: #fc5454;
      }
    }
    .social_btn{
      display: flex;
      align-items: center;
    }
    .google_btn {
      background-image: url(../img/google_btn.png);
      width: 111px;
      height: 40px;
      border: none;
      outline: none;
    }
    .bing_btn{
      background-image: url(../img/bing.png);
      width: 135px;
      height: 37px;
      border: none;
    }
    .social_icon {
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 20px;

    }
  }
}

.footer {
  background-color: #39374F;
  a {
    text-decoration: none;
    p {
      text-align: right;
      padding: 20px 15px;
      color: $main-color;
      font-family: OpenSans-Bold;
      font-size: 12px;
      opacity: 0.5;
    }
  }

}

@media screen and (max-width: 1200px) {
  .main_header {
    nav {
      margin-top: 20px;
    }
  }
  .services {
    margin-top: 0;
    h2 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
  .niki_info {
    span {
      display: none;
    }
  }
  .team {
    .arrow_dotted {
      width: 100%;
    }
  }
  .proposal_block {
    padding: 30px;
  }

}

@media screen and (max-width: 992px) {
  .swiper-slide {
    width: 50%;
  }
  .proposal_block {
    margin-bottom: 50px;
    padding: 0;
  }
  .card p {
    padding: 0 25px 25px;
  }
  .main_info {
    text-align: center;
  }
  .main_photocard {
    margin-bottom: 20px;
  }
  .footer a p {
    text-align: center;
  }
  .string_photocard {
    flex-direction: column;
    img {
      padding: 0;
      margin-bottom: 15px;
    }
  }
  .footer_nav {
    text-align: center;
    p {
      margin-top: 40px;
    }
  }
  .advantages {
    .computer {
      width: 100%;
    }
    .new {
      text-align: center;
    }
    .old {
      text-align: center;
      padding-bottom: 50px;
    }
    h3 {
      display: none;
    }
    p {
      text-align: center;
    }
    .arrows {
      width: 100%;
      height: 350px;
    }
  }
  .social_btn{
    justify-content: center;
  }
  footer {
    .contacts {
      padding: 43px 15px 47px;
    }
  }
}

@media screen and (max-width: 768px) {
  .proposal .btn {
    width: 400px;
    font-size: 23px;
  }
  .advantages {
    text-align: center;
    .new {
      padding-bottom: 40px;
    }
    .site_wrap {
      justify-content: center;
    }
    .btn {
      margin: 30px auto;
      text-align: left;
    }
  }
  .contacts {
    flex-direction: column;
    display: flex;
  }
  footer {
    .contacts {
      .contact_card {
        p {
          padding-bottom: 15px;
        }
      }
    }
  }
    .main_header {
      button {
        display: none;
      }
    }

  }

  @media screen and (max-width: 480px) {
    .proposal .btn {
      width: 100%;
      padding: 26px 0;
      font-size: 19px;
      text-align: center;
    }
    .main_info {
      p {
        font-size: 40px;
      }
    }
    .swiper-slide {
      width: 100% !important;
    }
  }

  @import "_partials/media";